/Example/Pods/Pods.xcodeproj/project.pbxproj filter=lfs diff=lfs merge=lfs -text
/Example/Pods/Target[[:space:]]Support[[:space:]]Files/Pods-BPContactCenter_Example/Pods-BPContactCenter_Example-acknowledgements.markdown filter=lfs diff=lfs merge=lfs -text
/Example/Pods/Target[[:space:]]Support[[:space:]]Files/Pods-BPContactCenter_Example/Pods-BPContactCenter_Example-acknowledgements.plist filter=lfs diff=lfs merge=lfs -text
Example/libs/WebRTC.xcframework/** filter=lfs diff=lfs merge=lfs -text
